<form id="fm"  [formGroup]="userForm" form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(username1.value,emailadr.value, passw.value)" class="col-sm-6" >
  <div class="form-group row user">
    <label  class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" #username1  placeholder="User name" name = "username" [(ngModel)]="username"  formControlName="usn">
    </div>
    <div class="error" *ngIf="isControlInvalid('usn')">
     Неверное имя пользователя
    </div>
    <br/><br/>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" #emailadr placeholder="Email" name = "email"  formControlName="emal">
    </div>
    <div class="error" *ngIf="isControlInvalid('emal')">
      Введите валидный адрес почты
    </div>
    <br/><br/>
  </div>


  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" #passw placeholder="Password" name = "password"   formControlName="pss">
    </div>
    <div class="error" *ngIf="isControlInvalid('pss')">
      Пароль должен содержать верхние и нижние буквы
    </div>
    <br/><br/>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Roles</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"  (click)="isadmin()">
          <label class="form-check-label" for="gridRadios1">
            admin
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2" (click)="isuser()" checked>
          <label class="form-check-label" for="gridRadios2">
            user
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-10">
      <input type="submit"  class="btn btn-default" value="Sign up" [disabled]="!myForm.valid" />
    </div>
  </div>
</form>


